.box {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    margin: 1%; 
    width: 30vh;
    height: 30vh;
    color: #FFFFFF;
}

.invertedBox {
    display: flex;
    flex-direction: column;
    margin: 1%; 
    width: 30vh;
    height: 30vh;
    background-color: #FFFFFF;
    color: #303030;
}

.boxElements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 15%;
    height: 100%;
    width: 100%;
    margin-bottom: 20%;
}

.imgs {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 75%;
}

.imgIcon {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
}

.imgList {
    height: 50%;
    width: auto;
    margin-bottom: 5%;
}

.amountText{
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.expenseTypeText {
    color: #8E8D8D;
    font-weight: 800;
    font-size: 100%;
    line-height: 24px;
    margin-bottom: 5%;
}

