html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.screen {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #303030;   
    width: 15%;
    min-width: 200px;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column; 
    width: 85%;
    min-height: 100vh;
}


.title{
    display: flex;
    width: 100%;
    padding: 8px 10px;
    align-items: center;
    justify-content: flex-start;
}

.title h1{
    color: white;
    font-size: 14pt;
    font-weight: 600;
}

.imgLogo{
   width: 30px;
   height: 30px;
   margin-right: 5px;
}

.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.options-title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.options-title h2{
    color: #8E8D8D;
    font-size: 8pt;
    font-weight: 700;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 35px;
    margin-top: 10px;
    background-color: #303030;
    border: 0;
    color: #8E8D8D;
    font-size: 10pt;
    font-weight: 700;
}

.menu button:hover{
    background-color: #4D4D4D;
    border-radius: 4px;
    color: #E4E2E2;
    font-size: 10pt;
    font-weight: 700;
}

.imgOptions{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.content-title{
    display: flex;
    width: 100%;
    padding: 10px 25px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}

.content-title h1{
    color: rgb(0, 0, 0);
    font-size: 14pt;
    font-weight: 700;
}

.content{
    display: flex;
    background-color: #F1F1F1;   
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}